<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--起别名-->
    <typeAliases>
        <package name="com.ihjycc.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-uf61hz21l3hv7sthrjo.mysql.rds.aliyuncs.com:3306/db1?useSSL=false&amp;useServerPrepStmts=true"/>
                <property name="username" value="ihjycc"/>
                <property name="password" value="Zyjh270209"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--扫描mapper-->
        <package name="com.ihjycc.mapper"/>
    </mappers>
</configuration>